
@{
    ViewBag.Title = "Employee";
}
<script src="~/Scripts/Employee/main.js"></script>

<h2>Answer the questions!</h2>

<div class="form-group">
    <label for="exampleFormControlSelect1">Example select</label>
    <select class="form-control" id="roomSelect" onchange="changeRoom()"></select>
</div>

<input type="text"
       id="message"
       value="text here" />
<button onclick="sendMessage()">Send</button>
<br />
<textarea id="chat" cols="40" rows="10"></textarea>
<br />


<!--
<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <textarea id="idList" cols="40" rows="5"></textarea>
        </div>
        <div class="col-sm-8 align-middle">

        </div>
        <div class="col-sm-2">

        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">

        </div>
        <div class="col-sm-8 align-middle">
            <input type="text"
                   id="message"
                   value="text here" />
        </div>
        <div class="col-sm-2">

        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">

        </div>
        <div class="col-sm-8 align-middle">

        </div>
        <div class="col-sm-2">

        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">

        </div>
        <div class="col-sm-8 align-middle">

        </div>
        <div class="col-sm-2">

        </div>
    </div>
</div>
    -->
