
@{
    ViewBag.Title = "Employee";
}

<h2>Employee</h2>

<ul>
    <li>Coffee</li>
    <li>Tea</li>
    <li>Milk</li>
</ul>

<input type="text"
       id="myText"
       value="text here" />

<button>Submit</button>