
@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/User/main.js"></script>

<h2>Ask a question!</h2>

<button onclick="testCall()">Login</button>
<button>Register</button>
<br />
<input type="text"
       id="message"
       value="text here" />
<button onclick="sendMessage()">Send</button>
<br />
<textarea id="chat" cols="40" rows="10"></textarea>
<br />

<!--
<div class="container">
    <div class="row">
        <div class="col-sm-2">

        </div>
        <div class="col-sm-8 align-middle">
            <button onclick="testCall()">Login</button>
            <button>Register</button>
        </div>
        <div class="col-sm-2">

        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">

        </div>
        <div class="col-sm-8 align-middle">
            <input type="text"
                   id="message"
                   value="text here" />
        </div>
        <div class="col-sm-2">

        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">

        </div>
        <div class="col-sm-8 align-middle">
            <textarea id="chat" cols="40" rows="5"></textarea>
        </div>
        <div class="col-sm-2">

        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">

        </div>
        <div class="col-sm-8 align-middle">
            <button onclick="sendMessage()">Send</button>
        </div>
        <div class="col-sm-2">

        </div>
    </div>
</div>-->
