
@{
    ViewBag.Title = "Registration";
}

<h2>Registration</h2>

<input type="text"
       id="myText"
       value="text here" />
<input type="text"
       id="myText"
       value="text here" />

<button>Submit</button>